.cajita-container {
    width: 80%; 
    height: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 20px; 
}

.cajita-content {
    padding: 20px; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    width: 100%; 
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.cajita-buttons {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;
}

.cajita-amount {
    margin: 0; 
    padding: 0 10px; 
    font-size: 1.5em; 
}



