#img{
    height: 45px;
    width: 45px;
    margin: 10px;
    
}
.opciones-container {
    position: relative; /* Para que el menú se posicione relativo al botón */
  }
  
  .menu-options {
    position: absolute;
    top: 50px; /* Ajusta la posición del menú según sea necesario */
    left: 0;
    background-color: rgb(10, 54, 7);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  .menu-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-options li {
    padding: 10px;
    cursor: pointer;
    color: #1fdd28;
  }
  
  .menu-options li:hover {
    background-color: #4dcc71;
  }
  